<form action="/sellers" method="post">

    <label for="name">Name of the seller:</label>
    <input id="name" name="name" type="text">

    <label for="contact">contact of the seller:</label>
    <input id="contact" name="contacts" type="number">

    <label for="location">location of the seller:</label>
    <input id="location" name="location" type="text/number">


    <button type="submit">Add seller</button>
  </form>
